<html>
<head>
<title>TABLE</title>
<style>
body{
    background-image: linear-gradient(to right, #48b7c5,#76c9d4);
}
table{
	width:1250px;
	margin:auto;
	table-layout:fixed;
	text-align:center;
	margin-top:100px;
	font-family:Arial;
	color:#FFFFFF;
}
table, th, td{
	border: 1px dotted white;
	border-collapse:collapse;
	padding:20px;
	font-size:18px;
}
th{
	background:#F781D8;
	padding:25px;
	text-transform:uppercase;
}
td{
	background:#800000;
	padding:25px;
}

</style>
</head>
<body>
<table>
<tr>
	<th>Without GST</th>

	<th>For 1 month</th>

	<th>For 3 month</th>

	<th>For 6 month</th>

	<th>For 12 month</th>

</tr>
<tr>
	<td>Charges</td>
	<td>3000-/ ₹</td>
	<td>8000-/ ₹</td>
	<td>15000-/ ₹</td>
	<td>30000-/ ₹</td>

</tr>
</table>

<table>
<tr>
	<th>With 18% GST</th>

	<th>For 1 month</th>

	<th>For 3 month</th>

	<th>For 6 month</th>

	<th>For 12 month</th>

</tr>
<tr>
	<td>Charges</td>
	<td>4000-/ ₹</td>
	<td>8500-/ ₹</td>
	<td>17000-/ ₹</td>
	<td>32500-/ ₹</td>

</tr>
</table>
</body>
</html>