<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website</title>
</head>
<body>

<h1>Enter your text right below...</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='margin:0px; width:1240px; height:180px;'></textarea>
    <br>
    <input type='checkbox' name='removepunc'>Remove Puncs<br>
    <input type='checkbox' name='capitalize'>Capitalize<br>
    <input type='checkbox' name='extraspacermv'>Extraspacermv<br>
    <button type="submit">Analyse Text</button>
    <br>
</form>
</body>
</html>